body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #333;
  background-color: #f4f4f4;
}

.hero {
  position: relative;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
              url('images/garaz-pv.png') no-repeat center center/cover;
}

.hero-content {
  z-index: 2;
  max-width: 800px;
  padding: 20px;
}

h1 {
  font-size: 4rem;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.btn {
  background-color: #ffbb00;
  color: #000;
  padding: 12px 30px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background-color: #ffd64d;
}

.section {
  padding: 80px 20px;
  background-color: white;
  text-align: center;
}

footer {
  background-color: #111;
  color: white;
  text-align: center;
  padding: 20px 10px;
  font-size: 0.9rem;
}
